@{
    ViewData["Title"] = "About";
}
<h1>O webu</h1>
<br />
<p>Tento web vznikl pouze pro pochopení .NET frameworku a zdokonalení se v jazyce C#.</p>
<p>
    <strong>Web obsahuje: </strong><br />  - správu uživatelů (ověření účtu e-mailem, správa rolí, účtu (změna mailu, hesla,..), obnova ztraceného hesla) <br />
    - správu produktů (filtrace, řazení), správa kategorií a značek produktů <br />
    - funkci košíku - sestavení košíku, zadání fakturačních údajů, výběr platební metody, odeslání mailu s potvrzením objednávky<br />
    <strong>- funkci plateb</strong>

</p>

<br />
<br />

<h1>About</h1>
<br />
<p>This website was created only to understand the .NET framework and to improve the C# language.</p>
<p>
    <strong>Implemented functionality: </strong><br />  - user manager (e-mail confirmation, role managment, user managment (mailu, password,.. change), retrieval of forgotten password) <br />
    - product manager (filtration, sorting), category and brand management<br />
    - cart manager - adding function, delivery information, payment method, e-mail with order confirmation<br />
    <strong>- payment manager</strong>

</p>

