@using TestEShopMacNet7.Models.Account
@model ResetPasswordViewModel

<p class="display-4 text-center my-2">Resetování hesla</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="PasswordToReset">
            <input name="userId" value="@Model.userId" hidden />
            <input name="token" value="@Model.resetToken" hidden />
            <div class="row my-2">
                <div class="col-4 text-end">
                    <label class="align-middle" for="firstPassword">Aktuální heslo</label>
                </div>
                <div class="col-4 text-start">
                    <input class="align-middle" type="password" name="firstPassword" />
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 text-end">
                    <label class="align-middle" for="secondPassword">Nové heslo</label>
                </div>
                <div class="col-4 text-start">
                    <input class="align-middle" type="password" name="secondPassword" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Odeslat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
