@using TestEShopMacNet7.Models.Cart
@model Order

@{
    ViewData["Title"] = "OrderFinished";
}

<p class="display-4 text-center my-6">Děkujeme za objednávku</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Zpět do EShopu</a>

