@using TestEShopMacNet7.Models.Cart
@model Order

@{
    ViewData["Title"] = "Order2";
}

<p class="display-4 text-center my-6">Platební metoda</p>
<hr />
<form>
    <input name="TempItemIds" value="@String.Join(";",Model.ItemIds)" hidden />
    <input name="Street" value="@Model.Street" hidden />
    <input name="City" value="@Model.City" hidden />
    <input name="PostalCode" value="@Model.PostalCode" hidden />
    <div class="row my-2">
        <div class="col-6 text-end h5">
            <label class="align-middle" for="PaymentMethod">Platební metoda</label>
        </div>
        <div class="col-3 text-start h5">
            <select class="form-select align-middle" name="PaymentMethod">
                @if (Model.PaymentMethod == "Card")
                {
                    <option class="px-3" value="Card" selected>Kartou</option>
                }
                else
                {
                    <option class="px-3"value="Card">Kartou</option>
                }
                @if (Model.PaymentMethod == "Transfer")
                {
                    <option class="px-3" value="Transfer" selected>Převodem</option>
                }
                else
                {
                    <option class="px-3" value="Transfer">Převodem</option>
                }
                @if (Model.PaymentMethod == "Cash")
                {
                    <option class="px-3" value="Cash" selected>Na dobírku</option>
                }
                else
                {
                    <option class="px-3" value="Cash">Na dobírku</option>
                }
            </select>
        </div>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-primary" asp-controller="Cart" asp-action="OrderStep1" type="submit">Přechozí krok</button>
        <button class="btn btn-primary" asp-controller="Cart" asp-action="OrderStep3" type="submit">Další krok</button>
    </div>
</form>

