@model TestEShopMacNet7.Models.Product.Brand

@{
    ViewData["Title"] = "Edit brand";
}

<p class="display-4 text-center my-6">Upravit kategorii - @Model.Name</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control text-center" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Uložit</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>
